[DEFAULT]

# Data parameters
ms_types = ['ms2_pos', 'ms2_neg']

# Reference parameters
ref_loc = '/global/project/projectdirs/metatlas/projects/spectral_libraries/msms_refs.tab'
ref_dtypes = {'database':str, 'id':str, 'name':str, 'spectrum':object,'decimal':float, 'precursor_mz':float, 'polarity':str, 'adduct':str, 'fragmentation_method':str, 'collision_energy':str, 'instrument':str, 'instrument_type':str, 'formula':str, 'exact_mass':float, 'inchi_key':str, 'inchi':str, 'smiles':str}
ref_index = ['database', 'id']

# Alignment parameters
resolve_by = 'shape'
frag_mz_tolerance = .5

# Search parameters
pre_mz_ppm = 20
mean_type = 'geo'
query='(@polarity == polarity) and ((@precursor_mz - (.5*(@pre_mz_ppm**-decimal)/(decimal+1)) - 20*(@precursor_mz*1e-6)) <= precursor_mz <= (@precursor_mz + (.5*(@pre_mz_ppm**-decimal)/(decimal+1)) + 20*(@precursor_mz*1e-6)))'
