alembic
banal
black
colorama
dataset
dill
gspread
h5py
humanize
ipykernel
ipympl==0.9.3
ipysheet
ipywidgets==8.1.1
jupyter-client
jupyterlab
matchms==0.20.0
matplotlib
numpy==1.24.4
oauth2client
pandas==2.1.2
papermill
pubchempy
pydantic
pymysql
pymzml
pysftp
pyyaml
rdkit-pypi
scikit-learn
scipy
sqlalchemy
tables
tabulate
xlsxwriter
