alembic
banal
black
colorama
dataset
dill
gspread
h5py
humanize
ipykernel
ipympl==0.9.3
ipysheet
ipywidgets
jupyter-client
jupyterlab
matchms
matplotlib
numpy
oauth2client
pandas
papermill
pip
pubchempy
pydantic
pymysql
pymzml
pyyaml
rdkit
scikit-learn
scipy
sqlalchemy
tables
tabulate
xlsxwriter
